.Button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3em;
  width: 3em;
  margin: 0.5em;

  border: none;
  outline: none;
  border-radius: 100%;

  background-color: darken(rgb(87, 163, 207), 10%);

  &:active {
    opacity: 0.7;
  }

  .icon {
    pointer-events: none;
  }
}