.Menu {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;

  display: flex;
  align-items: flex-end;

  .playPauseWithReverse {
    position: relative;

    .reverse {
      position: absolute;
      top: -1.3em;
      right: -1.3em;
      transform: scale(0.55, 0.55);
    }
  }

  .extra {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
    .buttons {
      display: flex;
      flex-direction: column;

      transition: visibility 1s, opacity 1s;

      .algorithms {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        position: fixed;
        top: 25%;
        left: 25%;

        max-width: 50vw;
      }
    }

    &.hide .buttons {
      visibility: hidden;
      opacity: 0;
    }
  }
}